<div class="bg-white p-4 rounded-lg shadow-md flex flex-col space-y-4 cursor-pointer md:mt-10" (click)="goPost()">
    <div class="flex items-center space-x-4">
      <img [src]="user.profile_image_url || 'assets/placeholders/avatar.svg'" (error)="$any($event.target).src='assets/placeholders/avatar.svg'" alt="Profile" class="w-12 h-12 rounded-full">
      <input
        type="text"
        placeholder="¿Quieres publicar algo?"
        class="flex-1 p-3 rounded-full border border-gray-300 focus:outline-none"
      />
    </div>
    <div class="flex space-x-4">
      <button class="flex items-center space-x-2 text-purple-500 font-medium" (click)="goPost()">
        <i class="icon-documents"></i>
        <span>Subir Documentos</span>
      </button>
      <a (click)="goPost()"><button class="flex items-center space-x-2 text-purple-500 font-medium"> 
        <i class="icon-image"></i>
        <span>Subir Imagen</span>
      </button>
      </a>
    </div>
  </div>
  