<!-- src/app/components/post/post.component.html -->
<div class="bg-white rounded-lg shadow-md p-4 mb-4 w-full">
  <!-- Encabezado del Post -->
  <div class="flex flex-col md:flex-row justify-between mb-4">
    <div class="flex space-x-4 items-center">
      <img [src]="post.user.profile_image_url || 'assets/placeholders/avatar.svg'" (error)="$any($event.target).src='assets/placeholders/avatar.svg'" alt="Profile picture" class="w-16 h-16 md:w-28 md:h-28 rounded-full object-cover hover:cursor-pointer hover:opacity-80" (click)="goProfile(post.user.id_user)">
      <div>
        <h3 class="text-lg md:text-2xl font-semibold hover:underline cursor-pointer" (click)="goProfile(post.user.id_user)">{{ post.user.name | titlecase }} {{ post.user.lastname | titlecase }}</h3>
        <p class="text-sm text-gray-500 hover:underline cursor-pointer" (click)="goProfile(post.user.id_user)">Profesor de {{ post.user.education_level | titlecase }}</p>
        <p class="text-sm text-gray-500 hover:underline cursor-pointer" (click)="goForum(post.forum.id_forum)">Grupo: {{ post.forum.name | titlecase }}</p>
      </div>
    </div>
    <div class="mt-2 md:mt-0 text-right space-x-2">
      <span class="text-xs md:text-sm text-gray-500">{{ post.publication_date | date: 'dd/MM/yyyy' }}</span>
      <p-menu #menu [model]="items" [popup]="true"></p-menu>
      <i class="pi pi-ellipsis-h hover:cursor-pointer" style="font-size: 1.2rem; color: #3a00ae;"
        *ngIf="post.user.id_user == user.id_user || user.user_type == 'Admin'"
        (click)="menu.toggle($event)"
      ></i>
    </div>
  </div>

  <!-- Contenido del Post -->
  <div class="w-full">
    <h3 class="text-base md:text-xl font-medium">{{ post.title }}</h3>
    <!-- <p class="text-sm text-gray-700 mb-4 break-words">{{ post.content }}</p> -->
  </div>
   <!-- ESTO HAY QUE HABLARLO Y DECIDIR COMO LO MOSTRAMOS -->
  <div [innerHTML]="post.content" class="w-full break-words"></div> 

  <!-- Imágenes y PDFs del Post -->
  <div class="grid grid-cols-2 md:grid-cols-3 gap-2 mb-4" >
    <ng-container *ngFor="let fileUrl of post.image_urls">
      <ng-container *ngIf="isImage(fileUrl); else pdfTemplate">
        <a [href]="fileUrl" target="_blank"><img [src]="fileUrl" alt="Post image" class="w-1/2 h-auto rounded-lg"></a>
      </ng-container>
      <ng-template #pdfTemplate>
        <a [href]="fileUrl" target="_blank" class="flex items-center justify-center w-1/2 h-auto">
          <i class="pi pi-file-pdf" style="font-size: 100px"></i>
          <!-- <span class="text-sm text-gray-700 ml-2">Ver PDF</span> -->
        </a>
      </ng-template>
    </ng-container>
  </div>

  <!-- Pie del Post -->
  <div *ngIf="post.comment_count > 0">
    <a class="text-purple-500 text-xs md:text-sm font-medium hover:underline" (click)="goComments(post.id_post)">Ver respuestas ({{ post.comment_count }})</a>
  </div>
  <div *ngIf="post.comment_count == 0">
    <p class="text-purple-500 text-xs md:text-sm font-medium hover:underline cursor-pointer" (click)="goComments(post.id_post)">Se el primero en comentar</p>
  </div>
</div>